.choose-ticket {
  z-index: 10;
  position: relative;
  top: -50px;
 

  &__inner {
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px #a5a4a4;
    box-shadow: 0 0 15px #a5a4a4;
    border-radius: 10px;
    font-weight: 500;
    min-height: 90px;
    padding: 20px;
  }
}
