.login {
  background: url("../../assets/bg2.jpg");
  background-size: auto;
  background-position: center;
  height: 100vh;
  width: 100vw;
  padding: 7% 0;
  position: relative;

  .login-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    background-color: #fff;

    input {
      border: none;
    }

    .input__line {
      background: none;
      border-bottom: 1.5px solid #fb4226;
      font-size: 15px;
      font-weight: 600;
      -webkit-box-shadow: none;
      box-shadow: none;

      &::after {
        content: "";
        width: 100px;
        height: 3px;
        display: block;
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          from(#f8a193),
          to(#fb4226)
        );
        background: linear-gradient(to right, #f8a193, #fb4226);
        -webkit-box-shadow: 0 0 20px 0 #f8a193;
        box-shadow: 0 0 20px 0 #f8a193;
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .forgot-password {
    color: #fb4226;
    font-weight: 500;
  }

  .register-link {
    color: #fb4226;
    font-weight: 500;
  }

  .button-login {
    width: 100%;
    font-size: 17px;
    border-radius: 5px;
    padding: 5px 30px;
    outline: none;
    border: 1px solid #fb4226;
    color: #fff;
    background-color: #fb4226;
    -webkit-transition: 0.5s;
    transition: 0.5s;

    &:hover {
      border: 1px solid #9b9b9b;
      color: #9b9b9b;
      background-color: #fff;
    }
  }
}
