.tab-list {
  border: 1px solid #ebebec;
  margin: auto;
  height: 705px;
  border-radius: 4px;
  overflow: hidden;

  .ant-tabs-nav-operations {
    display: none !important;
  }

  .ant-tabs-nav-list,
  .ant-menu {
    max-height: 700px;
    overflow: auto;

    &::-webkit-scrollbar-thumb {
      background-color: #ccc9c9;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      border: 2px solid #ffffff;
    }

    &::-webkit-scrollbar {
      width: 10px;
      height: 8px;
    }
  }

  .ant-tabs-tab + .ant-tabs-tab {
    margin-left: 0;
  }

  //tab cinema
  .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
    text-align: left;
  }
  .ant-tabs-tabpane {
    padding-left: 0 !important;
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    &__logo {
      height: 35px;
      width: 35px;
      border-radius: 5px;
      object-fit: cover;
    }

    &__wrap {
      margin-left: 17px;
    }
    .detail {
      color: #fb4226 !important;
      font-size: 13px;
    }
    .title {
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 5px 0;
      color: rgba(0, 0, 0, 0.85);
    }

    .address {
      width: 90%;
      font-size: 10px;
      color: #9b9b9b;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 5px;
    }

    @media screen and (min-width: 992px) {
      justify-content: flex-start;

      .detail {
        color: #fb4226 !important;
        font-size: 13px;
      }
      .title {
        font-size: 15px;
        margin: 5px 0;
      }

      .address {
        width: 90%;
        font-size: 13px;
        color: #9b9b9b;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 5px;
      }
    }
  }

  //tab content movie
  .movie-header {
    display: flex;
    align-items: center;
  }
  .movie-info {
    padding: 10px;

    .name {
      font-weight: bold;
    }
  }

  .ant-collapse-item {
    border-bottom: none;
  }

  .ant-collapse > .ant-collapse-item:not(:last-child) {
    border-bottom: 1px solid #d9d9d9 !important;
  }
}

.ant-collapse {
  border: none;
  background-color: initial !important;
  max-height: 486px;
  overflow: auto;

  @media screen and (min-width: 992px) {
    max-height: 700px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc9c9;
    width: 5px;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
  &::-webkit-scrollbar {
    width: 10px;
  }
}

.ant-collapse-header {
  align-items: center !important;
}

.ant-collapse-arrow {
  color: #fc6048;
}

.ticket-btn {
  display: inline-block;
  color: #108f3e;
  border: 1px solid #e4e4e4;
  padding: 5px 5px;
  font-size: 14px;
  transition: all 0.2s;
  font-weight: 400;
  border-radius: 7px;
  background-color: rgba(246, 246, 246, 0.5);
  margin-right: 10px;
}
.ant-tabs-tab {
  opacity: 0.3;
  transition: all 0.3s;
  padding: 12px 15px;

  &:hover,
  &-active {
    opacity: 1;
  }

  &:not(:last-child)::before {
    content: "";
    position: absolute;
    background: rgba(238, 238, 238, 0.88);
    width: 1px;
    height: 80%;
    right: 0;

    @media screen and (min-width: 992px) {
      width: 80%;
      height: 1px;
      bottom: 0;
      left: 0;
      text-align: center;
      transform: translateX(10%);
    }
  }
}

.ant-tabs-ink-bar {
  background: none;
}

.ant-collapse-content {
  border-top: none;
}