.ant-btn {
  height: 50px;

  &.ant-btn-primary {
    background-color: #fb4226 !important;
  }

  &.ant-btn-dangerous.ant-btn-primary[disabled] {
    color: #fff;
    background-color: #fb4226 !important;
    opacity: 0.7;
  }
}
