.movie__carousel {
  position: relative;
  margin-top: 60px;
}

.movie__carousel .carousel__button {
  position: absolute;
  bottom: 100px;
}

.movie__carousel .carousel__button li {
  margin-left: 3px;
  opacity: 1;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.movie__carousel .carousel__button li.active {
  background-color: #fb4226;
}

.movie__carousel .movie__carousel__item .carousel-item img {
  height: 100% !important;
  display: block;
}

.movie__carousel .carousel-control-prev span img,
.movie__carousel .carousel-control-next span img {
  height: 50px;
  width: 50px;
}

.movie__carousel .carousel-control-prev {
  margin-left: 20px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.movie__carousel .carousel-control-next {
  margin-right: 20px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .carousel__button {
    display: none !important;
  }
}
