.footer {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #949494;

  &__info a {
    font-size: 12px;
    font-weight: 700;
    color: #949494;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    
    &:hover {
      color: #fff;
    }

    .hideOnPC {
      display: none;
    }
    
  }

  &__partner  a {
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;

    img {
      width: 30px;
      height: 30px;
      border-radius: 30px;

      &:hover {
        opacity: 0.7;
      }
      
    }
  }

  &__app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  &__title {
    color: #fff;
    font-size: 13px;
    margin-bottom: 1rem;
  }

  &__detail p {
    font-size: 12px;
    font-weight: 700;
  }

  
  @media screen and (max-width: 768px) {
    .hideOnPC {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  
    .hideOnPC a {
      margin: 10px;
    }
  
    &__social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  
    &__social img {
      width: 40px !important;
      height: 40px !important;
      margin: 10px;
    }
  
    .hideOnMobile {
      display: none;
    }
  
    &__add {
      text-align: center;

      .imgZion {
        width: 80px !important;
        margin: 10px;
      }

      .imgBoCo {
        width: 130px !important;
        margin: 10px;
      }
    }
  
  }
}




