$white-1: #fff;

$black-1: #000;

$blue-1: #2b72a54a;

$red: #cc0000;
$red-1: #90475e;

$orange-1: #fb4226;

$grey-1: #999999;

$pink-1: #ffcccc;

$yellow-1: #cda02e;

$green: #38cc00;

$body-bg: $white-1;
$body-txt: $black-1;

$color-txt-error: $red-1;
$color-txt-password: $grey-1;
