.booking-sticket {
  .booking-header {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    justify-content: space-between;
    flex-direction: column;

    .booking-title {
      color: #fb4226;
      margin: 20px 0;
      text-transform: uppercase;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;

      .booking-title {
        margin: 0;
      }
    }
  }

  .booking-content {
    width: 90%;
    margin: 0 auto;
  }

  .booking-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cinema-time {
      font-size: 13px;
      color: #9b9b9b;
    }
  }

  .time-coundown {
    &__title {
      font-size: 17px !important;
      margin: 0;
    }

    &__time {
      color: #fb4226 !important;
      margin: 0;
    }
  }

  .booking-seats {
    .seat {
      width: 25px;
      height: 25px;
      border: none;
      outline: none;
      border-radius: 5px;
      margin: 5px;
      background-color: rgba(34, 34, 96, 1);
      color: white;
      font-size: 10px;

      @media screen and (min-width: 768px) {
        width: 30px;
        height: 30px;
        font-size: 13px;
      }
    }

    .seat-booked {
      background-color: #ccc;
      cursor: no-drop;
    }

    .seat-vip {
      background-color: #f7b500 !important;
    }

    .seat-booking {
      background-color: #1e7e34 !important;
    }
    .seat-vip-booked {
      background-color: #ef533b !important;
    }
  }

  .type-seat {
    margin-top: 20px;

    .color {
      border-radius: 10px;
      margin-bottom: 5px;
      margin: 0 auto;
      height: 15px;
      width: 15px;
    }

    .note {
      text-align: center;
    }
  }

  .buy-sticket {
    background-color: #fff;
    padding: 20px;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #9b9b9b;

    .total {
      color: #44c020;
      font-size: 2.5rem;
      text-align: center;
    }

    .film-info {
      display: flex;
      align-items: center;

      img {
        border-radius: 10px;
        width: 70px;
        height: 70px;
        margin-left: auto;
      }

      .name {
        font-size: 1.2rem;
        font-weight: 600;

        .type {
          margin-right: 5px;
          padding: 5px;
          width: 30px;
          height: 30px;
          border-radius: 5px;
          color: #fff;
          background-color: #fb4226;
        }
      }
    }

    .seat-bookings {
      height: 40px;
      color: #fb4226;
      display: flex;
      align-items: center;

      .title {
        font-weight: 600;
      }

      .total-money {
        margin-left: auto;
        color: #44c020;
      }
    }

    .seat-name-booking {
      font-size: 1rem;
    }
    .info-user,
    .info-film {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      border-bottom: 1px ridge #9b9b9b;

      .title {
        color: #9b9b9b;
      }
    }

    .btn-sticket {
      position: absolute;
      bottom: 2px;
      right: 0;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 10px;
      width: 100%;
      padding: 1.5rem 2rem;
      background: #fb4226 !important;
      outline: none;
      text-align: center;
      z-index: 4;
      font-size: 2rem;
      color: #fff;
      font-weight: 500;
    }
  }
}
.btn-continue {
  display: inline;
  text-align: center;
  margin: 50px 0;
  width: 100%;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  padding: 5px 30px;
  border: 1px solid #fb4226;
  color: #fff;
  background-color: #fb4226;
  transition: 0.5s;

  &:hover {
    border: 1px solid #9b9b9b;
    color: #9b9b9b;
    background-color: #fff;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
// modal antd
.sticket-modal {
  .modal-title {
    display: flex;
    align-items: center;

    img {
      width: 70px;
      height: 70px;
    }

    .modal-Info {
      margin-left: 10px;
      font-size: 1.5rem;
    }
  }

  .film-info {
    display: flex;
    align-items: center;

    img {
      border-radius: 10px;
      width: 100px;
      height: 100px;
      margin-left: auto;
    }

    .name {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .type {
      margin-right: 5px;
      padding: 2px;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      color: #fff;
      background-color: #fb4226;
    }
  }

  .seat-bookings {
    height: 40px;
    color: #fb4226;
    display: flex;
    align-items: center;

    .title {
      font-weight: 600;
    }

    .total-money {
      margin-left: auto;
      color: #44c020;
    }
  }

  .seat-name-booking {
    font-size: 1rem;
  }

  .get-sticket-mobile .total {
    color: #44c020;
    font-size: 2.5rem;
    text-align: center;
  }

  .info-film,
  .info-user {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px ridge #9b9b9b;

    .title {
      color: #9b9b9b;
    }

    .content {
      font-weight: 600;
      margin-left: auto;
    }
  }
}
